# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.toast
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# SQLite Database
backend/*.db
backend/*.db-journal

# Node / JS
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Environment / Secrets
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db
